.NavBar-ctr {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20%;
    position: fixed;
    color: orange;
}

.brand-ctr {
    margin-right: auto;
    width: 100px;
    height: 100%;
}

.menu-items__ctr {
    margin-left: auto;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    padding-right: 5%;
}

a.menu-item {
    height: 40px;
    width: 120px;
}

.menu-item {
    margin: 5px;
    text-align: center;
    background-image: url('../assets/bstroke.svg');
    background-size: 120px 40px;
    font-size: 1.5vw;
}

.menu-item svg {
    transform: translateY(5px);
}

.brand-icon {
    display: inline-block;
    height: 100%;
    width: 100%;
    /* background-image: url("../assets/elephant-side-view-svgrepo-com.svg");
    background-size: 100% 300px; */
}

.cart-icon {
    height: 22px;
    display: inline-block;
}

a,
a:visited {
    color: black;
    text-decoration: none;
}