.App {
    text-align: center;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-size: 24px;
}

.section {
    padding: 2em;
}

.banner-section {
    min-height: 100%;
    min-width: 100%;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.about-section {
    min-width: 100%;
    display: flex;
    flex-direction: row;
}

.about-img {
    width: 50%;
    background-image: url("./assets/aboutimg.jpg");
    background-size: 100% 100%;
}

.about-txt {
    width: 50%;
    text-align: left;
    padding: 3em;
}


/* .about-txt p {
  text-indent: 20px;
} */

.about-txt h1 {
    text-align: center;
}

.animals-section {
    min-height: 100%;
    text-align: left;
    display: flex;
    flex-direction: row;
}

.cta-img {
    min-height: 100%;
    min-width: 50%;
    background-image: url("./assets/WildWorld.png");
    background-size: 100% 100%;
    padding: 3em;
}

.animals-txt {
    width: 50%;
    padding: 3em;
}

.animals-section h1 {
    text-align: center;
}

.animal-list__section {
    min-height: 800px;
    min-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgb(222,130,39);
    background: linear-gradient(170deg, rgba(222,130,39,1) 0%, rgba(230,160,91,1) 35%, rgba(255,255,255,1) 100%);
}

.stats-header{
    height:25%;
    width: 80%;
    display: flex;
    align-items: center;
}

.stat-ctr{
    width: 33%;
    height: 50%;
}

.gallery-ctr{
    height: 60%;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.gallery-img{
    height: 100%;
    width: 100%;
}

.gallery-img:hover .hover-overlay{
    height: 100%;
    opacity: 75%;
}

.hover-overlay{
    display: block;
    height: 100%;
    width: 100%;
    bottom: 0;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    background: rgb(222,130,39);
    background: linear-gradient(0deg, rgba(222,130,39,1) 0%, rgba(254,236,217,0.4511687115925115) 69%, rgba(255,255,255,0) 100%);
    opacity: 0%;
}
#gi1{
    height: 66%;
    width: 25%;
}
#gi2{
    height: 66%;
    width: 50%;
    background-image: url(./assets/lion.jpg);
    background-size: 100% 100%;
}
#gi3{
    height: 66%;
    width: 24.5%;
    background-image: url(./assets/smonkey-1.jpg);
    background-size: 100% 100%;
}
#gi4{
    height: 50%;
    width: 100%;
    background-image: url(./assets/zebras2.jpg);
    background-size: 100% 100%;
}
#gi5{
    height: 34%;
    width: 25%;
    background-image: url(./assets/parrots2.jpg);
    background-size: 100% 100%;
}
#gi6{
    height: 34%;
    width: 25%;
    background-image: url(./assets/alpaca.jpg);
    background-size: 100% 100%;
}
#gi7{
    height: 34%;
    width: 49.5%;
    background-image: url(./assets/crocodile.jpg);
    background-size: 100% 100%;
}
#gi8{
    height: 50%;
    width: 100%;
    background-image: url(./assets/rabbits.jpg);
    background-size: 100% 100%;
}
.buttons-section {
    min-height: 800px;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgb(222,130,39);
    background: linear-gradient(10deg, rgba(222,130,39,1) 0%, rgba(230,160,91,1) 35%, rgba(255,255,255,1) 100%);
    /*background-image: url("./assets/zebra-football.gif");
    background-size: cover; */
}

.buttons-ctr {
    height: 70%;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.button-ctr{
    height: 47%;
    width: 32%;
    overflow:hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    -webkit-box-shadow: 8px 12px 11px -3px rgba(0,0,0,0.73); 
    box-shadow: 8px 12px 11px -3px rgba(0,0,0,0.73);
}
.buttons-section .button {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


.buttons-section .button:hover {
    transform: scale(1.5);
    transition-duration: 2s;
    cursor: pointer;
}

.button{
    position: absolute;
    height: 100%;
    width: 100%;
}

#bam-button{
    background-image: url('./assets/pf-snake.jpg');
    background-size: 100% 300px;
}

#mad-button{
    background-image: url('./assets/ylw-parrot.jpg');
    background-size: 100% 300px;
}

#vp-button{
    background-image: url('./assets/zebra-eat.jpg');
    background-size: 100% 300px;
}

#sog-button{
    background-image: url('./assets/tiny-croc.png');
    background-size: 100% 300px;
}

.button-link{
    color: white;
    z-index: 5;
    position: relative;
    font-weight: bold;
}
.button-link:visited{
    color: white;
}

.scroll-advert{
    background-image: url('./assets/lionness.png');
    background-size: 100% 100%;
    min-height: 100%;
    width: 100%;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.advert{
    background-image: url('./assets/WildWorld.png');
    background-size: 100% 100%;
    height: 70%;
    width: 70%;
}

.footer{
    background-color: rgb(24, 23, 23);
    min-height: 400px;
}

.footer-ctr{
    margin: auto;
    padding: 65px 0 5px 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 14px;
    color: white;
    width: 80%;
    height: 75%;
}
.basic-info__ctr{
    flex-basis: 30%;
}
#footer-brand{
    height: 50%;
    width: 50%;
    background-image: url('./assets/footer-brand.png');
    background-size: 100% 100%;
    margin: auto;
}
.business-details {
    flex-basis: 30%;
    height: 80%;
    padding: 0 5px;
}
.days-hours{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    align-items: center;
    text-align: left;
    margin: auto;
}
.days-hours p{
    flex-basis: 50%;
}
.quick-links{
    height: 80%;
    flex-basis: 18%;
}
.sponsors{
    flex-basis: 19%;
    background-image: url('./assets/sponsors.png');
    background-size: 100% 100%;
    border-radius: 10px;
}
.socials{
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    padding: 10px;
}
.legal{
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    padding: 10px;
}

@media only screen and (max-width: 1400px) {
    [class*="App"] {
        font-size: 20px;
    }
}

@media only screen and (max-width: 1200px) {
    [class*="App"] {
        font-size: 18px;
    }
}

@media only screen and (max-width: 900px) {
    [class*="App"] {
        font-size: 16px;
    }
}

@media only screen and (max-width: 768px) {
    [class*="App"] {
        font-size: 14px;
    }
}

@media only screen and (max-width: 600px) {
    [class*="App"] {
        font-size: 12px;
    }
}